  body {
  background-color: rgb(210,210,210); 
  margin: 0px;
}

.formspace {
  border-radius: 20px;
  margin-top: 20px;
  background-color: white;
  width: 350px;
  height: 320px;
  margin: 0px auto;
  box-shadow: 2px 2px 5px black;
}

input {
  color: rgba(44, 44, 44, 0.9);
  background-color: white;
  border: 1px solid white;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid rgba(68, 68, 68, 0.3);
  padding-bottom: 5px;
  margin-top: 10px;
}
.button{
  background-color: #008CBA;/*Blue*/
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}